<section class=cta-block imageonright>
    <div class=cta-block__image lazy-background data-bg={{ root }}assets/o7am/clancy.jpg></div>
    <div class="cta-block__image lazy-background visible" data-bg="{{ root }}assets/o7am/clancy.jpg" style="background-image: url(&quot;{{ root }}assets/o7am/clancy.jpg&quot;);"></div>
    <div class=cta-block__container>
        <div class="cta-block__text">
            <h1>o</h1>
            <h2>7</h2>
            <p>A</p>
            <p style="font-size:14px; ">M</p>
        </div>
    </div>
</section>
