                <div class="smaller-text">
                    <div class="smaller-text__container">
                        <div class="emoji-search-wrap">
                            <input type="search" id="emoji-search" class="emoji-search" placeholder="Search emojis or descriptions…" aria-label="Search emojis">
                        </div>
                        <div class="emoji-table-wrapper">
                        <div class="emoji-grid">
<div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ʘ‿ʘ</span></div><div class="emoji-desc">Innocent face</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ಠ_ಠ</span></div><div class="emoji-desc">Reddit disapproval face</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(╯°□°）╯︵ ┻━┻</span></div><div class="emoji-desc">Table Flip / Flipping Table</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">┬─┬﻿ ノ( ゜-゜ノ)</span></div><div class="emoji-desc">Put the table back</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">┬─┬⃰͡ (ᵔᵕᵔ͜ )</span></div><div class="emoji-desc">Tidy up / dust the table</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">┻━┻ ︵ヽ(`Д´)ﾉ︵﻿ ┻━┻</span></div><div class="emoji-desc">Double Flip / Double Angry</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ლ(｀ー´ლ)</span></div><div class="emoji-desc">Fisticuffs</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ʕ•ᴥ•ʔ</span></div><div class="emoji-desc">Cute bear</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(｡◕‿◕｡)</span></div><div class="emoji-desc">Cute face with big eyes</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">（　ﾟДﾟ）</span></div><div class="emoji-desc">surprised / loudmouthed</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">¯\_(ツ)_/¯</span></div><div class="emoji-desc">shrug face</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">¯\(°_o)/¯</span></div><div class="emoji-desc">meh</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(`･ω･´)</span></div><div class="emoji-desc">feel perky</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(╬ ಠ益ಠ)</span></div><div class="emoji-desc">angry face</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">☜(⌒▽⌒)☞</span></div><div class="emoji-desc">excited</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ε=ε=ε=┌(;*´Д`)ﾉ</span></div><div class="emoji-desc">running</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ヽ(´▽`)/</span></div><div class="emoji-desc">happy face</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ヽ(´ー｀)ノ</span></div><div class="emoji-desc">basking in glory</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ᵒᴥᵒ#</span></div><div class="emoji-desc">kitty emote</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">V●ᴥ●V</span></div><div class="emoji-desc">fido</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ฅ^•ﻌ•^ฅ</span></div><div class="emoji-desc">meow</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">（ ^_^）o自自o（^_^ ）</span></div><div class="emoji-desc">Cheers</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ಠ‿ಠ</span></div><div class="emoji-desc">devious smile</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">( ͡° ͜ʖ ͡°)</span></div><div class="emoji-desc">4chan emoticon</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ಥ_ಥ</span></div><div class="emoji-desc">crying face</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ಥ﹏ಥ</span></div><div class="emoji-desc">breakdown</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">٩◔̯◔۶</span></div><div class="emoji-desc">disagree</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ᕙ(⇀‸↼‶)ᕗ</span></div><div class="emoji-desc">flexing</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ᕦ(ò_óˇ)ᕤ</span></div><div class="emoji-desc">do you even lift bro?</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">⊂(◉‿◉)つ</span></div><div class="emoji-desc">kirby</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">q(❂‿❂)p</span></div><div class="emoji-desc">tripping out</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">⊙﹏⊙</span></div><div class="emoji-desc">discombobulated</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">¯\_(⊙︿⊙)_/¯</span></div><div class="emoji-desc">sad and confused</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">°‿‿°</span></div><div class="emoji-desc">japanese lion face</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">¿ⓧ_ⓧﮌ</span></div><div class="emoji-desc">confused</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(⊙.☉)7</span></div><div class="emoji-desc">confused scratch</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(´･_･`)</span></div><div class="emoji-desc">worried</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">щ（ﾟДﾟщ）</span></div><div class="emoji-desc">dear god why</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">٩(͡๏_๏)۶</span></div><div class="emoji-desc">staring</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ఠ_ఠ</span></div><div class="emoji-desc">pretty eyes</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ᕕ( ᐛ )ᕗ</span></div><div class="emoji-desc">strut</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(⊙_◎)</span></div><div class="emoji-desc">zoned</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ミ●﹏☉ミ</span></div><div class="emoji-desc">crazy</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">༼∵༽ ༼⍨༽ ༼⍢༽ ༼⍤༽</span></div><div class="emoji-desc">trolling</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ヽ༼ ಠ益ಠ ༽ﾉ</span></div><div class="emoji-desc">angry troll</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">t(-_-t)</span></div><div class="emoji-desc">fuck it</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(ಥ⌣ಥ)</span></div><div class="emoji-desc">sad face</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(づ￣ ³￣)づ</span></div><div class="emoji-desc">hugger</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(づ｡◕‿‿◕｡)づ</span></div><div class="emoji-desc">stranger danger</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(ノಠ ∩ಠ)ノ彡( \o°o)\</span></div><div class="emoji-desc">flip friend</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">｡ﾟ( ﾟஇ‸இﾟ)ﾟ｡</span></div><div class="emoji-desc">cry face</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">༼ ༎ຶ ෴ ༎ຶ༽</span></div><div class="emoji-desc">cry troll</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">“ヽ(´▽｀)ノ”</span></div><div class="emoji-desc">TGIF</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">┌(ㆆ㉨ㆆ)ʃ</span></div><div class="emoji-desc">dancing</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">눈_눈</span></div><div class="emoji-desc">sleepy</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">( ఠൠఠ )ﾉ</span></div><div class="emoji-desc">angry birds</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">乁( ◔ ౪◔)「      ┑(￣Д ￣)┍</span></div><div class="emoji-desc">no support</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(๑•́ ₃ •̀๑)</span></div><div class="emoji-desc">shy</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">⁽⁽ଘ( ˊᵕˋ )ଓ⁾⁾</span></div><div class="emoji-desc">fly away</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">◔_◔</span></div><div class="emoji-desc">careless</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">♥‿♥</span></div><div class="emoji-desc">love</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ԅ(≖‿≖ԅ)</span></div><div class="emoji-desc">Touchy Feely</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">( ˘ ³˘)♥</span></div><div class="emoji-desc">Kissing</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">( ˇ෴ˇ )</span></div><div class="emoji-desc">shark face / jagged mustache</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ヾ(-_- )ゞ</span></div><div class="emoji-desc">dance</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ʕ •́؈•̀ ₎</span></div><div class="emoji-desc">winnie the pooh</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ლ(•́•́ლ)</span></div><div class="emoji-desc">boxing / fight</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">{•̃_•̃}</span></div><div class="emoji-desc">robot</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(ᵔᴥᵔ)</span></div><div class="emoji-desc">seal</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(Ծ‸ Ծ)</span></div><div class="emoji-desc">questionable / dislike</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(•̀ᴗ•́)و ̑̑</span></div><div class="emoji-desc">Winning!</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">[¬º-°]¬</span></div><div class="emoji-desc">Zombie</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(☞ﾟヮﾟ)☞</span></div><div class="emoji-desc">pointing</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">''⌐(ಠ۾ಠ)¬'''</span></div><div class="emoji-desc">chasing / running away</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(っ•́｡•́)♪♬</span></div><div class="emoji-desc">whistling / music</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(҂◡_◡)</span></div><div class="emoji-desc">injured</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ƪ(ړײ)‎ƪ​​</span></div><div class="emoji-desc">creeper</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">⥀.⥀</span></div><div class="emoji-desc">eye roll</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ح˚௰˚づ</span></div><div class="emoji-desc">flying</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">♨_♨</span></div><div class="emoji-desc">things that can't be unseen</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(´・ω・`)</span></div><div class="emoji-desc">sad kuma</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">( ・ω・)</span></div><div class="emoji-desc">kuma face</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ヾ(＾∇＾)</span></div><div class="emoji-desc">happy wave</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(๑´ڡ`๑)</span></div><div class="emoji-desc">yummy</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ヽ(￣д￣;)ノ</span></div><div class="emoji-desc">sweat / nervous</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ヾ(⌐■_■)ノ♪</span></div><div class="emoji-desc">deal with it / cool</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">٩(๑❛ᴗ❛๑)۶</span></div><div class="emoji-desc">happy arms</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(´・ω・)ノ</span></div><div class="emoji-desc">wave bye</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(´-ω-)</span></div><div class="emoji-desc">tired / sleepy</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(´；ω；`)</span></div><div class="emoji-desc">sobbing</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(´∀`)σ</span></div><div class="emoji-desc">pointing at you</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(´○` )</span></div><div class="emoji-desc">surprise / oh</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ฅ(´・ω・́ )</span></div><div class="emoji-desc">cat ready</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(´꒳` )</span></div><div class="emoji-desc">content</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">( ͡~ ͜ʖ ͡°)</span></div><div class="emoji-desc">lenny wink</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">ヽ(´o｀；</span></div><div class="emoji-desc">oops / sorry</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(ง'̀-'́)ง</span></div><div class="emoji-desc">bring it / fight</div></div>
                            <div class="emoji-item"><div class="emoji-cell"><span class="emoji-text">(๑•̀ㅂ•́)و✧</span></div><div class="emoji-desc">determined</div></div>
                        </div>
                        </div>
                        <div id="emoji-copy-toast" class="emoji-copy-toast" aria-live="polite" aria-hidden="true">Copied!</div>
                    </div>
                </div>


<script>
(function() {
    var grid = document.querySelector('.emoji-grid');
    if (!grid) return;

    function setGridMinColumnWidth() {
        var cells = grid.querySelectorAll('.emoji-cell .emoji-text');
        if (!cells.length) return;
        var first = cells[0];
        var cs = window.getComputedStyle(first);
        var measure = document.createElement('span');
        measure.style.cssText = 'position:absolute;left:-9999px;top:0;white-space:nowrap;visibility:hidden;' +
            'font-size:' + cs.fontSize + ';font-family:' + cs.fontFamily + ';line-height:' + cs.lineHeight;
        document.body.appendChild(measure);
        var maxW = 0;
        cells.forEach(function(span) {
            measure.textContent = span.textContent;
            var w = measure.offsetWidth;
            if (w > maxW) maxW = w;
        });
        document.body.removeChild(measure);
        var minCol = Math.ceil(maxW) + 32;
        minCol = Math.max(160, Math.min(390, minCol));
        grid.style.setProperty('--emoji-grid-min', minCol + 'px');
    }

    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', setGridMinColumnWidth);
    } else {
        requestAnimationFrame(setGridMinColumnWidth);
    }

    var searchInput = document.getElementById('emoji-search');
    if (searchInput) {
        searchInput.addEventListener('input', function() {
            var q = this.value.trim().toLowerCase();
            grid.querySelectorAll('.emoji-item').forEach(function(item) {
                var emoji = (item.querySelector('.emoji-text') || {}).textContent || '';
                var desc = (item.querySelector('.emoji-desc') || {}).textContent || '';
                var match = !q || emoji.toLowerCase().indexOf(q) !== -1 || desc.toLowerCase().indexOf(q) !== -1;
                item.style.display = match ? '' : 'none';
            });
        });
    }

    var toast = document.getElementById('emoji-copy-toast');
    var toastHideTimeout;

    function showCopyToast() {
        if (!toast) return;
        if (toastHideTimeout) clearTimeout(toastHideTimeout);
        toast.classList.add('is-visible');
        toast.setAttribute('aria-hidden', 'false');
        toastHideTimeout = setTimeout(function() {
            toast.classList.remove('is-visible');
            toast.setAttribute('aria-hidden', 'true');
            toastHideTimeout = null;
        }, 2000);
    }

    grid.querySelectorAll('.emoji-cell').forEach(function(cell) {
        cell.addEventListener('click', function(e) {
            var text = (cell.querySelector('.emoji-text') || cell).textContent.trim();
            if (!text) return;
            e.preventDefault();
            navigator.clipboard.writeText(text).then(showCopyToast).catch(function() {});
        });
    });
})();
</script>