<html lang="{{ locale }}">
<head>
{% include 'partials/head.html' %}
{% block schema %}{% endblock %}
</head>
<body class="{{ body_class | default('single-page') }}">
    <div class="app-container">
        {% include 'partials/header.html' %}

        {% block main %}{% endblock %}

        {% include 'partials/footer.html' %}
    </div>
</body>
</html>
<script src="{{ root }}theme.js?v={{ asset_v['theme.js'] }}" type="text/javascript" defer></script>
<script src="{{ root }}app.js?v={{ asset_v['app.js'] }}" type="text/javascript" defer></script>
