{% extends 'base.html' %}
{% block main %}
<section class="text-image text-image--top-spaced">
    <div class="text-image__container" wrapper>
        <div class="text-image__text">
            <h2>{{ t.meta.tagline }}</h2>
            <div class="text-image-text-content">
                <p>{{ t.meta.index_intro_1 }}</p>
                <p>{{ t.meta.index_intro_2 }}</p>
            </div>
        </div>
        <div class="text-image__image text-image__image--alice">
            <img src="{{ root }}assets/o7am/alice.png" alt="{{ t.meta.alice_alt }}">
        </div>
    </div>
</section>
<section class="cta-block left cta-block--it" style="position: relative; pointer-events: auto;">
    <div class="cta-block__image lazy-background visible" data-bg="{{ root }}assets/services/IT/cover.jpg" style="background-image: url(&quot;{{ root }}assets/services/IT/cover.jpg&quot;);"></div>
    <div class="cta-block__container">
        <div class="cta-block__text">
            <h2>{{ t.services.it_short }}</h2>
            <p>{{ t.services.it_cta }}</p>
            <a class="button-border" href="{{ base }}services/it.html">(╯°□°)╯︵ ┻━┻</a>
        </div>
    </div>
</section>
<section class="cta-block left" style="position: relative; pointer-events: auto;">
    <div class="cta-block__image lazy-background visible" data-bg="{{ root }}assets/o7am/logo_wide.jpg" style="background-image: url(&quot;{{ root }}assets/o7am/logo_wide.jpg&quot;);"></div>
    <div class="cta-block__container">
        <div class="cta-block__text">
            <h2>{{ t.services['3d_short'] }}</h2>
            <p>{{ t.services['3d_cta'] }}</p>
            <a class="button-border" href="{{ base }}services/3d.html">(｡◕‿◕｡)</a>
        </div>
    </div>
</section>
<section class="cta-block left">
    <div class="cta-block__image lazy-background" data-bg="{{ root }}assets/services/DE/cover.jpg"></div>
    <div class="cta-block__image lazy-background visible" data-bg="{{ root }}assets/services/DE/cover.jpg" style="background-image: url(&quot;{{ root }}assets/services/DE/cover.jpg&quot;);"></div>
    <div class="cta-block__container">
        <div class="cta-block__text">
            <h2>{{ t.services.de_short }}</h2>
            <p>{{ t.services.de_cta }}</p>
            <a class="button-border" href="{{ base }}services/de.html">ヽ(´ー｀)ノ</a>
        </div>
    </div>
</section>
{% endblock %}
