{% extends 'base.html' %}
{% block main %}
<section class="services">
    <div class="services__container">
        <div class="services__header">
            <h1>{{ t.services.heading }}</h1>
        </div>
        <div class="services__items">
            <a href="{{ base }}services/3d.html" class="services__item lazy-background visible" data-bg="{{ root }}assets/index/slider/3d.jpg" style="background-image: url(&quot;{{ root }}assets/index/slider/3d.jpg&quot;); position: relative; pointer-events: auto;">
                <h3>{{ t.services['3d_short'] }}</h3>
                <p>{{ t.services['3d_teaser'] }}</p>
            </a>
            <a href="{{ base }}services/de.html" class="services__item lazy-background visible" data-bg="{{ root }}assets/index/slider/de.jpg" style="background-image: url(&quot;{{ root }}assets/index/slider/de.jpg&quot;); position: relative; pointer-events: auto;">
                <h3>{{ t.services.de_short }}</h3>
                <p>{{ t.services.de_teaser }}</p>
            </a>
        </div>
    </div>
</section>
{% endblock %}
