{% extends 'base.html' %}
{% block main %}
<section class="page-header" style="position: relative; pointer-events: auto;">
    <h1>{{ t.services.it_short }}</h1>
    <p>{{ t.services.it_teaser }}</p>
</section>
<section class="single-service__gallery" style="position: relative; pointer-events: auto;">
    <div class="single-service__gallery-container">
        <div class="single-service__gallery-items">
            <div class="single-service__gallery-item">
                <img loading="lazy" src="{{ root }}assets/services/IT/cover.jpg" class="gallery-image it-cover" alt="IT Support">
            </div>
        </div>
    </div>
</section>
<div id="image-popup" style="display:none;">
    <span id="close-popup">×</span>
    <img loading="lazy" id="popup-img" src="">
    <a id="prev" class="control">❞</a>
    <a id="next" class="control">❟</a>
</div>
<div class="smaller-text" style="position: relative; pointer-events: auto;">
    <div class="smaller-text__container">
        <div>
            <h2>{{ t.services.it_heading }}</h2>
            <p>{{ t.services.it_body }}</p>
        </div>
    </div>
</div>
{% endblock %}
