{% extends 'base.html' %}
{% block main %}
<section class="page-header" style="position: relative; pointer-events: auto;">
    <h1>{{ t.services.de_short }}</h1>
    <p>{{ t.services.de_teaser }}</p>
</section>
<section class="single-service__gallery" style="position: relative; pointer-events: auto;">
    <div class="single-service__gallery-container">
        <div class="single-service__gallery-items">
            <div class="single-service__gallery-item">
                <img loading="lazy" src="{{ base }}assets/index/slider/de.jpg" class="gallery-image" alt="DE_COVER">
            </div>
        </div>
    </div>
</section>
<div id="image-popup" style="display:none;">
    <span id="close-popup">×</span>
    <img loading="lazy" id="popup-img" src="">
    <a id="prev" class="control">❞</a>
    <a id="next" class="control">❟</a>
</div>
<div class="smaller-text" style="position: relative; pointer-events: auto;">
    <div class="smaller-text__container">
        <div>
            <h2>Usługi z zakresu Data Engineeringu</h2>
            <p>Specjalizujemy się w dostarczaniu rozwiązań z zakresu Data Engineeringu: projektowanie i budowa potoków danych (Spark, Flink, Airflow), ETL/ELT, Big Data, usługi chmurowe (AWS, GCP, Kubernetes, Terraform). Rozwiązania dopasowane do kontekstu biznesowego i technologicznego. Skontaktuj się z nami, aby dowiedzieć się, jak możemy wspierać rozwój Twojego biznesu.</p>
        </div>
    </div>
</div>
{% endblock %}
